<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>생명 주기</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
      .lightgray{ color: lightgray; }
  </style>

</head>
<body>
  <div id="app">
    <button @click="show = !show">
      {{ show ? '언마운트' : '마운트'}} 컴포넌트
    </button>
    
    <child v-if="show"/>
  </div>
  
  <script>
      const {
          createApp,
          ref,
          onBeforeMount,
          onMounted,
          onBeforeUpdate,
          onUpdated,
          onBeforeUnmount,
          onUnmounted
      } = Vue;

      // Vue Instance(컴포넌트) 생성
      const app = createApp({
          name: "app",
          setup() {
              const show = ref(true);

              console.log("app setup");

              return {show}
          }
      });



      // 자식 컴포넌트 정의 (vue instance  X)
      const Child = {
          template: `
            <div>
              <button @click="startLoading">로딩 시작</button>
              <button @click="toggleHighlight">하이라이트 토글</button>

              <!-- ref를 설정한 div : 업데이트 전 후 상태를 비교할 대상 -->
              <div ref="contentRef">
                <div v-if="!loadingState">로딩을 준비합니다.</div>
                <div v-else :class="{lightgray: isHighlighted }">컨텐츠 표시 중</div>
              </div>
            </div>
          `,

          setup(){
              const loadingState  = ref(false);
              const isHighlighted = ref(false);
              const contentRef    = ref(null);

              const startLoading
                  = () => loadingState.value = !loadingState.value;

              const toggleHighlight
                  = () => isHighlighted.value = !isHighlighted.value;

              /* 컴포넌트 생명 주기 */
              onBeforeMount(() => {
                  console.log("1. onBeforeMount : DOM에 붙기 직전");
                  console.log(contentRef.value);
              });

              /* DOM 노드를 안전하게 조작할 수 있는 시점으로
              * 외부 API 호출 시점으로 많이 사용된다
              * */
              onMounted(() => {
                  console.log("2. onMounted : DOM에 붙은 직후!!");
                  console.log(contentRef.value);
              });

              /* 이전 DOM 상태를 참조하거나 검증할 때 사용*/
              onBeforeUpdate(() => {
                  const prev = contentRef.value?.innerText.trim();
                  console.log("3. onBeforeUpdate : 수정 전 컨텐츠 : ", prev);
              });

              /* 변경된 DOM 기반으로 데이터/스크롤 위치 보정 시 주로 사용 */
              onUpdated(() => {
                  const next = contentRef.value?.innerText.trim();
                  console.log("4. onUpdated : 수정 후 컨텐츠 : ", next);
              });



              /* setTimeout, setInterval, 외부 이벤트 리스너 등을
              * 제거해야 메모리 누수, 불필요한 코드 수행을 방지할 수 있는데
              * 이를 처리하는 시점으로 자주 사용
              * */
              onBeforeUnmount(() => {
                  console.log("5. onBeforeUnmount : DOM에 떼어지기 직전");
              });

              /* 인스턴스간 공유 리소스 정리(clean-up) 로직
              * 처리 시점으로 주로 사용
              * */
              onUnmounted(() => {
                  console.log("6. onUnmounted : DOM에 떼어진 직후");
              });




              return {loadingState, isHighlighted, contentRef,
                  startLoading, toggleHighlight}
          }
      };


      /* app 컴포넌트 하위에 Child 컴포넌트를 추가
      * - app == 부모 컴포넌트
      * - Child == 자식 컴포넌트
      * */
      app.component('child', Child);

      app.mount("#app");
  
  </script>


</body>
</html>